@import 'src/assets/mixin';

.title {
  position: relative;
  line-height: 40px;
  height: 42px;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #d8d8d8;

  &::after {
    width: 100px;
    height: 1px;
    position: absolute;
    background: $main-color;
  }
  a, span {
    float: left;
    padding: 0 10px;
    margin-right: 20px;
    color: #656565;
  }
  a:hover {
    text-decoration: none;
  }
  .router-link-exact-active, span {
    border-bottom: 2px solid $main-color;
    color: $main-color;
  }
}
// 个人设置
.auth-list {
  li {
    margin: 20px;
    color: #656565;

    a {
      float: right;
      font-size: 12px;
    }
    i {
      display: inline-block;
      text-align: center;
      width: 20px;
      margin-right: 20px;
      font-size: 18px;
      color: #999;
    }
    b {
      font-weight: 400;
    }
  }
}

// 我的收藏
